<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="shortcut icon" href="angularjslogo.png" type="image/x-icon">
    
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .green{
        padding: 5px;
        border: 2px solid #44bd32;
        color: #44bd32;
      }
      .red{
        padding: 5px;
        border: 2px solid #e84118;
        color: #e84118;
      }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="foods"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checKFood()" >Check If Too Much</button>
         </div>
         <div class="form-group message {{class}}">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

   <script src="./scripts/angular.min.js"></script>
   <script src="./scripts/app.js"></script>
</body>
</html>
